<form action="" method="POST">
  <div class="mb-3 d-flex flex-column align-items-center">
    <input type="text" class="form-control input-shorten-url" id="exampleInputEmail1" placeholder="https://myweb.com" required>
    <div class="form-text">Input URL you want to shorten here.</div>
  </div>
  <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-primary btn-submit-shorten">Submit</button>
  </div>
</form>