<form action="/shorturls" method="POST">
  <div class="mb-3 d-flex flex-column align-items-center">
    <input type="url" class="form-control input-shorten-url" id="originUrl" name="originUrl" placeholder="https://myweb.com" value="" required>
    <div class="form-text">Enter URL you want to shorten here.</div>
  </div>
  <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-primary btn-submit-shorten">Shorten</button>
  </div>
</form>