<div>
  {{#if url}}
    <h3>Success! Please use this link: </h3>
    <p class="mt-1">
      <a href="{{ url }}" id="generated-short-url">{{ url }}</a>  
    </p>
  {{/if}}

  {{#if errorMsg}}
    <h3>{{ errorMsg }}</h3>
  {{/if}}

  <div class="d-flex justify-content-center mt-3">
    <a href="/" class="btn btn-secondary me-3">Back</a>

    {{#if url}}
      <button class="btn btn-primary" id="btn-copy">Copy</button>
    {{/if}}
  </div>

</div>

<script src="/javascripts/copyurl.js"></script>