<div>
  <h3>Success! Please use this link: </h3>
  <p class="mt-1">
    url
  </p>
  <div class="d-flex justify-content-center mt-2">
    <a href="/" class="btn btn-secondary me-3">Back</a>
    <button class="btn btn-primary">Copy</button>
  </div>
  
</div>
